# Haskell
######################
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
.HTF/

# IDE files
######################
.project
.lkshs
.lkshw
.komodoproject
.dist-buildwrapper/
.settings/

# Stack
######################
stack.yaml
.stack-work/
